@import "../square-button/square-button.component.scss";
$main-width: calc(4.5 * #{$side-length});
.column {
    display: flex;
    flex-flow: column nowrap;
    width: $main-width;
    justify-content: space-around;
    align-items: center;
    padding-top: 2vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5vh;
    color: #757575;
    max-height: 15%;
    height: 15%;
}

.large-icon {
    transform: scale(1.75);
}

.input-section {
    height: 35%;
    max-height: 35%;
    width: 100%;
    max-width: 100%;
}

.input-column {
    display: flex;
    flex-flow: column wrap;
    height: 100%;
    max-height: 100%;
    justify-content: flex-start;
    align-items: center;
    // width: $main-width;
    // max-width: $main-width;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    // padding: 5px;
    &::-webkit-scrollbar {
        display: none;
    }
}

.row {
    display: flex;
    flex-flow: row wrap;
    width: 87%;
    height: 35%;
    justify-content: space-evenly;
    align-content: space-around;
    margin-left: auto;
    margin-right: auto;
    width: $main-width;
    max-width: $main-width;
    overflow: auto;
    // padding: 5px;
    &::-webkit-scrollbar {
        display: none;
    }
}

.button-row {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
    &.two {
        &.center {
            justify-content: space-evenly;
            // align-items: center;
        }
        &.left {
            // align-items: flex-start;
            margin-right: 10px;
        }
    }
}

.input {
    margin-top: 7px;
    margin-bottom: 7px;
    margin-left: 18px;
    margin-right: 18px;
    // scroll-snap-align: center;
}

.base {
    display: flex;
    flex-flow: column nowrap;
    width: $main-width;
    height: 99%;
    max-width: 1024px;
    justify-content: space-evenly;
    margin: auto;
}

.volume {
    margin-top: 1vh;
    margin-bottom: 7vh;
}

.page-indicator {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 100%;
    margin-bottom: 10px;
    // padding-left: 3px;
    .dot {
        height: 0.5em;
        width: 0.5em;
        margin-left: 0.2em;
        margin-right: 0.175em;
        // background-color: #b6b4b4;
        border: solid 1px #757575;
        border-radius: 50%;
        display: inline-block;
        &.selected {
            background-color: #757575;
        }
    }
}

.blank {
    opacity: 0;
    pointer-events: none;
}

@media (min-width: 768px) {
    .display-title {
        font-size: 24pt;
    }
    .large-icon {
        transform: scale(2.5);
    }
    // .column {
    //     transform: scale(1.75);
    // }
    $main-width: calc(6.5 * #{$side-length}) !important;
    .base {
        width: $main-width;
    }
    .input-column {
        width: 88%;
        max-width: 88%;
        margin-left: auto;
        margin-right: auto;
    }
    .input-section {
        height: 28%;
        max-height: 28%;
        width: 100%;
        max-width: 100%;
    }
}