.text {
    text-align: center;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 1.3em;
  
    &.title {
      margin-top: -7px;
      font-size: 1.7em;
    }
  
    &.room-info {
      margin-top: -10px;
      line-height: 55px;
    }
  }
  .items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  // to space things correctly
  activity-button {
    margin-left: 8px;
  }
    