version: "3"
services:
  ui:
    image: docker.pkg.github.com/byuoitav/ui/amd64:v0.0.1
    command: /ui -p 80 -l 2
    ports:
      - "80:80"
    environment:
      - SYSTEM_ID=$HOST
      - DB_ADDRESS=$DB_ADDRESS
      - DB_USERNAME=$DB_USERNAME
      - DB_PASSWORD=$DB_PASSWORD
    network_mode: "host"
    restart: always
    tty: true
