<app-audio #audio class="hidden-page"></app-audio>
<app-projector #screen class="hidden-page"></app-projector>

<div class="buttons top">
    <button mat-fab class="power button" (click)="turnOff()"><mat-icon>power_settings_new</mat-icon></button>
    <button mat-fab class="help button" (click)="openHelp()"><mat-icon>help</mat-icon></button>
    <div *ngIf="cg?.controlInfo?.key" class="control-key-button">
        <button
        mat-button
        disableRipple
        class="control-key-info"
        (click)="openMobileControl()"
      >
      {{cg.controlInfo.url}}<br/>
      Key: {{cg.controlInfo.key}}
      </button>
    </div>
</div>

<div>
  <app-wheel [roomRef]="roomRef"></app-wheel>
</div>


<div class="buttons bottom">
  <button mat-fab class="dta button" (click)="openSharing()" *ngIf="canShare()">
    <mat-icon>screen_share</mat-icon>
  </button>

  <button mat-fab class="dta button" (click)="stopSharing()" *ngIf="currentlySharing()">
    <mat-icon>stop_screen_share</mat-icon>
  </button>

  <button mat-fab class="dta button" (click)="screen.show(cg)" (press)="screen.show(cg)" *ngIf="hasScreens()">
    <mat-icon>unfold_more</mat-icon>
  </button>
</div>

<div class="buttons bottom right">
  <button *ngIf="cg?.audioGroups" mat-fab class="independentAudio button" (click)="audio.show(cg)" (press)="audio.show(cg)">
    <mat-icon class="rotate-90">tune</mat-icon>
  </button>
</div>
