.hidden-page {
  position: absolute;
  height: 100vh;
  width: 100vw;
}

$duration: 0.4s;
.buttons {
  position: absolute;
  margin-left: 3vw;
  color: white;
  .button {
    margin-right: 3vw;
    width: 8vw;
    height: 8vw;
    .mat-icon {
      margin-top: -1.1vh;
      font-size: 5vw;
      height: 5vw;
      width: 5vw;
    }
  }
  &.top {
    margin-top: 3vh;
    z-index: 500;
    .power {
      background-color: var(--power-color);
      color: var(--power-icon-color);
    }
    .help {
      background-color: var(--help-color);
      color: var(--help-icon-color);
    }
  }
  &.bottom {
    bottom: 3.9vh;
    .dta {
      background-color: var(--share-color);
      color: var(--share-icon-color);
    }

    &.right {
      margin-right: 11.5vw;
    }

    &.corner {
      margin-right: 0vw;
      right: 0vw;
    }
  }
  &.right {
    right: 0;
    margin-right: -0.05vw;
  }
}

.label {
  position: absolute;
  color: white;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-align: center;
  font-size: 14pt;
  width: 4vw;
  &.top {
    margin-top: 3vh;
  }
  &.right {
    right: 0;
    margin-right: 5vw;
  }
}

.rotate-90 {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.menu {
  position: absolute;
  bottom: 0;
  margin-left: 3%;
  margin-bottom: 3vh;
}

.badge {
  position: absolute;
  background-color: var(--share-display-badge-color);
  color: var(--share-display-badge-icon-color);
  width: 50%;
  height: 50%;
  border-radius: 50%;
  margin-left: 26%;
  margin-top: -80%;
}

.share-display {
  background-color: var(--share-display-color);
  color: var(--share-display-text-color);
}

.grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  .item {
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 2vh;
  }
}

.independentAudio {
  z-index: 1000;
  margin-right: 0;
}

.independentAudioContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  .mic {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: background-color $duration ease-in-out;
    will-change: background-color;
    .notouch {
      pointer-events: none;
    }
    .mat-slider-vertical {
      height: 100%;
    }
    .mute {
      background-color: #1e88e5;
      &.muted {
        background-color: #c62828;
      }
    }
  }
}

.swal-button {
  height: 4.16vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-warn {
  color: #212529;
  background-color: #ffc107;
  border-color: #ffc107;
}

.btn-neutral {
  color: #fff;
  background-color: rgb(170, 170, 170);
  border-color: rgb(170, 170, 170);
}

.control-key-info {
  padding-top: 10px;
  width: 19vw;
  text-align: center;
}