<div [id]="id" class="wrapper" [class.empty]="empty" (click)="do(click)" (press)="do(press)" [class.selected]="selected">
    <!-- <div class="inside"> -->
    <button *ngIf="showIcon" class="button-icon material-icons" mat-icon-button [disableRipple]=true><mat-icon>{{icon}}</mat-icon></button>
    <div *ngIf="!showIcon" class="icon-title">
        <div>{{icon}}</div>
    </div>

    <div *ngIf="title" class="title">
        <div>{{title}}</div>
    </div>

    <button *ngIf="subIcon" class="sub-icon" mat-icon-button [disableRipple]=true><mat-icon>{{subIcon}}</mat-icon></button>
    <div *ngIf="subTitle" class="sub-title">
        <div>{{subTitle}}</div>
    </div>
    <!-- </div> -->


</div>