/* You can add global styles to this file, and also import other style files */

@import "./app/themes.scss";
@import "../node_modules/material-design-icons/iconfont/material-icons.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
// html,
// body {
//     height: 100%;
//     width: 100%;
//     margin: 0;
// }
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #000000;
}

mat-icon {
    font-family: 'Material Icons' !important;
}

.dialog-no-padding .mat-dialog-container {
    padding: 1vh;
}