$max-width: 90vw;
$volume-width: $max-width / 8;
$outputs-height: 35vh;
$inputs-height: 40vh;
%align {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

%align-vert {
    @extend %align;
    flex-direction: column;
}

%align-horiz {
    @extend %align;
    flex-direction: row;
}

%io-row {
    @extend %align-horiz;
    position: relative;
    max-width: $max-width;
    margin-left: (100vw - $max-width - $volume-width) / 2;
}

%io-button {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 .5vw 0 .5vw;
    .mat-button {
        padding-top: 1vh;
    }
}

@mixin io-icon($iconsize) {
    @extend %align-vert;
    .material-icons {
        font-size: $iconsize;
    }
}

.outputs {
    @extend %io-row;
    height: $outputs-height;
    margin-top: $outputs-height / 8;
    margin-bottom: $outputs-height / 8;
    flex-wrap: nowrap;
    text-align: center;
    .output {
        @extend %io-button;
        margin-right: $max-width / 100;
        width: $max-width / 7;
        .icon {
            @include io-icon(400%);
        }
    }
    .selected {
        //background-color: blue;
    }
}

.inputs {
    @extend %io-row;
    height: $inputs-height;
    margin-bottom: $inputs-height / 8;
    margin-top: $inputs-height / 10;
    // overflowing inputs line
    flex-wrap: wrap-reverse;
    .input {
        @extend %io-button;
        margin-right: $max-width / 200;
        width: $max-width / 9;
        margin-bottom: $inputs-height / 23;
        .icon {
            padding-top: 1.3vh;
            @include io-icon(200%);
        }
    }
}

.volume {
    position: absolute;
    //overflow-y: hidden;
    //overflow-x: visible;
    bottom: 0;
    right: 1%;
    height: 90%;
    width: $volume-width;
}

.volume-label {
    position: absolute;
    top: 4%;
    right: 1%;
    width: $volume-width;
    text-align: center;
    font-size: 10pt;
}

.mpb {
    position: fixed;
    margin-top: 4px;
}

.room-control-info {
    text-align: center;
    width: $max-width;
    padding-top: 10px;
}