@import "../square-button/square-button.component.scss";
@import "../wide-button/wide-button.component.scss";
$main-width: calc(4.6 * #{$side-length});
$double-width: calc(#{$side-length} * 3);
$triple-width: calc(#{$side-length} * 4);
$half-width: calc(#{$side-length} * 2.5);
$full-width: calc(#{$side-length} * 5);
.base {
    display: flex;
    flex-flow: column nowrap;
    width: $main-width;
    height: 99%;
    max-width: 1024px;
    justify-content: space-evenly;
    margin: auto;
}

.display-section {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 30%;
    max-height: 30%;
    width: 100%;
    max-width: 100%;
    margin-bottom: 25px;
}

.page-column {
    display: flex;
    flex-flow: column wrap;
    height: 85%;
    max-height: 85%;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    max-width: $main-width;
    min-width: $main-width;
    margin: auto;
    overflow: hidden;
    &::-webkit-scrollbar {
        display: none;
    }
}

$row-width: calc(#{$main-width} - 5px);
.display-row {
    display: flex;
    flex-flow: row nowrap;
    // width: 100%;
    height: 100%;
    width: $main-width;
    min-width: $main-width;
    max-width: $main-width;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
    // border: solid 1px purple;
}

.page-indicator {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    height: 30px;
    width: 100%;
    margin-bottom: 5px;
    // padding-left: 3px;
    .dot {
        height: 0.5em;
        width: 0.5em;
        margin-left: 0.2em;
        margin-right: 0.175em;
        // background-color: #b6b4b4;
        border: solid 1px #757575;
        border-radius: 50%;
        display: inline-block;
        &.selected {
            background-color: #757575;
        }
    }
}

.blank {
    opacity: 0;
    pointer-events: none;
}

.display {
    margin-top: 7px;
    margin-bottom: 7px;
    margin-left: 13px;
    margin-right: 13px;
}

.input-section {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 35%;
    max-height: 35%;
    width: 100%;
    max-width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.input-column {
    display: flex;
    flex-flow: column wrap;
    height: 100%;
    max-height: 100%;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    &::-webkit-scrollbar {
        display: none;
    }
}

.button-row {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
    &.two {
        &.center {
            justify-content: space-evenly;
            // align-items: center;
        }
        &.left {
            // align-items: flex-start;
            margin-right: 10px;
        }
    }
}

.input {
    margin-top: 7px;
    margin-bottom: 7px;
    margin-left: 7px;
    margin-right: 7px;
}

.page-button {
    display: none;
}

.volume {
    margin-top: 10%;
    // margin-bottom: 5%;
}

@media (min-width: 768px) {
    $main-width: calc(1.25 * (4.6 * #{$width-value})) !important;
    $base-width: calc(1.5 * (4.6 * #{$width-value})) !important;
    .base {
        width: $base-width;
        // border: solid 1px purple;
    }
    .page-column {
        width: 100%;
        max-width: $main-width;
        min-width: $main-width;
    }
    .display-row {
        width: $main-width;
        min-width: $main-width;
        max-width: $main-width;
    }
    .input-column {
        width: $main-width;
        max-width: $main-width;
        margin-left: auto;
        margin-right: auto;
    }
    .display-section {
        height: 25%;
        margin-top: 5%;
        // border: solid 1px red;
    }
    .input-section {
        height: 30%;
        // border: solid 1px green;
    }
    .page-button {
        display: block;
        transform: scale(2);
        color: #757575;
        &.left {
            // margin-left: 15%;
        }
        &.right {
            // margin-right: 15%;
        }
    }
}