.logo {
    height: 30%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    // filter: invert(100%);
}

.column {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    font-size: 22pt;
    color: #757575;
    overflow: hidden;
}

.sign-in {
    margin-top: 3%;
    transform: scale(2);
}

.room-code {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    min-height: 30px;
    height: 30px;
}

.code-char {
    width: 20px;
    border-block-end: 1px solid black;
    min-height: 30px;
    height: 30px;
}

::ng-deep .mat-form-field-underline {
    display: none;
}

// @media (min-width: 768px) {
//     .column {
//         max-width: 800px;
//         margin: auto;
//     }
//     .code-char {
//         width: 20px;
//         border-block-end: 1px solid black;
//         min-height: 30px;
//         height: 30px;
//     }
//     .logo {
//         height: 20vh;
//         width: 20vh;
//     }
// }