
$duration: 0.4s;
$ocentersize: 50vh;
$ccentersize: 35vh;
$owheelsize: 95vh;
$cwheelsize: 25vh;
$linewidth: 0.12vh;
$volumesize: 90%;
$independentVolumeSize: 81%;
$volumeSliderScale: 1.2;

ul {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}
.background {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  // transition: $duration ease-in-out all;
  // will-change: opacity, backdrop-filter;
  // opacity: 0;
  // pointer-events: none;
  &.open {
    // backdrop-filter: blur(10px);
    opacity: 1;
    pointer-events: auto;
  }
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  transition: transform $duration ease-in-out;
  will-change: transform;
}

.wheel {
  padding: 0;
  list-style: none;
  position: absolute;
  min-width: $cwheelsize;
  min-height: $cwheelsize;
  border-radius: 50%;
  transition: transform $duration ease-in-out;
  will-change: transform;
  &.open {
    transform: scale(3.75, 3.75);
  }
  li {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 51%;
  }
  .input-slice {
    clip-path: url(#sector);
    .input {
      position: absolute;
      height: 25%;
      width: 25%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .material-icons {
        transform: scale(0.95, 0.95);
        font-size: 3vh;
      }
      .name {
        transform: scale(0.65, 0.65);
        font-size: 1.2vh;
        white-space: nowrap;
      }
    }
  }
}

.thin {
  width: 100% !important;
  height: 0.01% !important;
  top: 50% !important;
}

.line {
  background: linear-gradient(
    to right,
    var(--wheel-outline-color) 50%,
    rgba(255, 255, 255, 0) 50%
  );
  height: $linewidth;
  transform: rotate(90deg);
}

.center {
  position: absolute;
  border-radius: 50%;
  width: $ccentersize;
  height: $ccentersize;
  transition: transform $duration ease-in-out;
  will-change: transform;
  &.open {
    transform: scale(1.5, 1.5);
  }
  .center-item {
    position: absolute;
    width: 100%;
    text-align: center;
    transition: transform $duration, opacity $duration, ease-in-out;
    will-change: transform, opacity;
    pointer-events: none;
    &.open {
      pointer-events: auto;
    }
  }
  .name {
    margin-top: 20%;
    &.open {
      transform: translateY(-265%);
    }
    white-space: nowrap;
    font-size: 4.8vh;
  }
  .icon {
    margin-top: 40%;
    font-size: 500%;
    &.open {
      transform: scale(0.9, 0.9) translateY(-80%);
    }
  }
  .picture {
    margin-top: 53%;
    opacity: 0;
    font-size: 90%;
    &.open {
      opacity: 1;
    }
  }
  .switch {
    margin-top: 37%;
    // opacity: 0;
    &.open {
      opacity: 1;
    }
    ::ng-deep .switch {
      background-color: var(--picture-on-color) !important;
    }
    ::ng-deep .checked {
      background-color: var(--picture-off-color) !important;
    }
  }
}

.volume {
  position: absolute;
  bottom: 3.9vh; // bottom + height should be 97vh
  right: 1vw;
  height: 93vh;
  width: 12vw;

   &.independentAudio {
     margin-top: (100% - $independentVolumeSize) / 2;
     height: $independentVolumeSize;
   }
   transition: background-color $duration ease-in-out;
   will-change: background-color;
  
   .mat-slider-vertical {
     height: 100%;
     margin-top: 80%;
     margin-bottom: 20%;
     // width: 100%;
   }
  
   ::ng-deep .mat-slider-thumb,
   ::ng-deep .mat-slider-thumb-label,
   ::ng-deep .mat-slider-thumb-label-text,
   ::ng-deep .mat-slider-track-fill {
     background-color: var(--volume-color);
     color: var(--volume-text-color);
   }
   &.muted {
     ::ng-deep .mat-slider-thumb,
     ::ng-deep .mat-slider-thumb-label,
     ::ng-deep .mat-slider-track-fill {
       background-color: var(--volume-muted-color);
       color: var(--volume-text-color);
     }
   }
   .mute {
     background-color: var(--volume-color);
     color: var(--volume-text-color);
     &.muted {
       background-color: var(--volume-muted-color);
       color: var(--volume-text-color);
     }
   }
}

.btn-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-warn {
  color: #212529;
  background-color: #ffc107;
  border-color: #ffc107;
}

.btn-neutral {
  color: #fff;
  background-color: rgb(170, 170, 170);
  border-color: rgb(170, 170, 170);
}

::ng-deep .mat-slide-toggle.mat-warn .mat-slide-toggle-bar {
  background-color: var(--picture-on-color) !important;
}
::ng-deep .mat-slide-toggle.mat-warn.mat-checked .mat-slide-toggle-bar {
  background-color: var(--picture-off-color) !important;
}
::ng-deep .mat-slide-toggle-bar {
  height: 20px !important;
  border-radius: 12px !important;
  border: solid 1px white;
  transform: scale(1.5);
}

::ng-deep .mat-slide-toggle-thumb-container {
  padding-top:2px;
}

::ng-deep .mat-slide-toggle .mat-slide-toggle-thumb {
  border: solid 1px white;
  background-color: white;
  width: 20px;
  height: 20px;
  box-shadow: 0px 1px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0);
}

::ng-deep .mat-slide-toggle.mat-warn.mat-checked .mat-slide-toggle-thumb {
  border: solid 1px white;
  background-color: white;
  box-shadow: 0px 1px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0);
}