@import "~@angular/material/theming";

@include mat-core();

$primary: mat-palette($mat-blue-grey, 700, 500, 900);
$accent: mat-palette($mat-light-blue, A700, 200, A700);
$warn: mat-palette($mat-red, 600, 800, 400);

$blueberry: mat-dark-theme($primary, $accent, $warn);
@include angular-material-theme($blueberry);

.primary-background {
  background-color: mat-color($primary, darker);
}

/*
.mat-app-background {
  background-color: mat-color($primary, darker);
}

.mat-tab-label-darker {
  .mat-tab-label-container {
    background-color: mat-color($mat-blue-grey, 800);
  }
}
*/

// secondary theme.
// colors for help button, sliders, and other small visual elements.
$s-primary: mat-palette($mat-light-blue, A700, 200, 900);
$s-accent: mat-palette($mat-teal, 100);
$s-warn: mat-palette($mat-lime);

$secondary: mat-dark-theme($s-primary, $s-accent, $s-warn);

.secondary-theme {
  @include angular-material-theme($secondary);
}
