$max-width: 95vw;
$header-height: 8%;
$master-width: 17vw;
$button-width: 5vw;

.projectorscreens {
    height: 100%;
    width: 100%;
    opacity: 0;
    display: unset;
    transition: 0.3s opacity ease-in-out;
    &.loaded {
        opacity: 1;
    }
}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    padding: 0;
    overflow: hidden;
}

.no-scroll {
    // height: 100% - (1 * $header-height);
    height: 100%;
    width: 100%;
    margin-bottom: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    .content {
        width: 80%;
        height: 100%;
        .mixers {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            .sliders {
                justify-content: space-evenly;
            }
        }
    }
    .master {
        height: 88%;
        display: flex;
        align-items: center;
        &::before {
            right: $master-width + 4vw;
        }
    }
}

.slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 88%;
    width: 17vw;
    flex: 0 0 auto;
    .label {
        font-size: 1.1em;
        word-wrap: break-word;
    }
    .slider {
        height: 100%;
    }
}

.mixers {
    height: 100%;
    width: $max-width - $master-width - (2 * $button-width);
    display: flex;
    flex-direction: column;
    align-items: center;
    .sliders {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow: hidden;
        align-items: center;
        height: 100%;
        width: 100%;
        &::-webkit-scrollbar {
            display: none;
        }
    }
}

.button {
    transform: scale(1.5);
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: inherit !important;
    border: 1px #8b8b8b solid;
}

.hidden {
    pointer-events: none;
    opacity: 0;
}

.display {
    text-align: center;
    color: white;
    font-size: 1.5em;
    margin-bottom: 15px;
    width: 200px
}

.icon {
    transform: scale(1.5);
}