<div class="projectorscreens">
    <!-- <ng-container *ngIf="there are screens"> -->
        <div class="no-scroll">
            <div class="content">
                <div class="mixers">
                    <div class="sliders">
                        <div class="slider-container">
                            <span class="display">Display Name</span>
                            <button mat-raised-button class="button" color="primary">
                                <mat-icon class="icon">keyboard_arrow_up</mat-icon>
                            </button>

                            <button mat-raised-button class="button" color="primary">
                                STOP
                            </button>

                            <button mat-raised-button class="button" color="primary">
                                <mat-icon class="icon">keyboard_arrow_down</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- </ng-container> -->
</div>
