<div class="base">
  <div *ngIf="!bff.loaded" class="lock" (click)="unlock()">
    <ng-container *ngIf="bff.locked; else poweringOn">
      <object type="image/svg+xml" data="../../assets/examples/logo.svg" class="logo"></object>
      <span class="text unlock"></span>
      <div class="unlock-code">
        <ui-switch
            reverse
            size="medium"
            [checked]="true"
            defaultBgColor="#f44336"
          ></ui-switch>
        <div>blah blah</div>
        <div> control key: foo bar</div>
      </div>
    </ng-container>
    <ng-template #poweringOn>
      <div class="logo">
          <mat-spinner color="primary"></mat-spinner>
      </div>
      <span class="text smaller">powering on, please wait...</span>
  </ng-template>
  </div>
  <app-home [room]="roomRef"></app-home>
</div>
<!-- <div *ngIf="bff.screenoff" id="screenoff" (click)="bff.screenoff = false">
  press anywhere to start
</div> -->