<app-audio #audio class="hidden-page"></app-audio>
<app-projector #screen class="hidden-page"></app-projector>
<div class="base">
  <mat-progress-bar style="position: fixed; bottom: 0;" color="primary" mode="indeterminate" *ngIf="roomRef?.loading"></mat-progress-bar>
  <management [enabled]="showManagement()"></management>
  <div *ngIf="!cg?.poweredOn" class="lock">
    <ng-container *ngIf="bff.locked; else poweringOn">
      <img src="../../assets/examples/logo.svg" class="logo">
      <div class="bottom-half">
        <div class="buttons-row">
          <button mat-stroked class="lock-screen-button" style="font-size: 18pt;" (click)="unlock()" (press)="unlock()">Start</button>
        </div>
        <div class="buttons-row" *ngIf="hasScreens() || haveControlKey() || hasAudioGroups()">
          <button mat-stroked class="lock-screen-button" *ngIf="hasScreens()" (click)="showScreenControl()" (press)="showScreenControl()">
            <div class="button-text">Screen Control</div>
            <mat-icon>unfold_more</mat-icon>
          </button>
          <button mat-stroked class="lock-screen-button" *ngIf="haveControlKey()" (click)="showMobileControl()" (press)="showMobileControl()">
            <div class="button-text">Mobile Control</div>
            <mat-icon>phone_iphone</mat-icon>
          </button>
          <button mat-stroked class="lock-screen-button" *ngIf="hasAudioGroups()" (click)="showAudioControl()" (press)="showAudioControl()">
            <div class="button-text">Audio Control</div>
            <mat-icon class="rotate-90">tune</mat-icon>
          </button>
        </div>
      </div>
    </ng-container>
    <ng-template #poweringOn>
      <div class="logo">
          <mat-spinner color="primary"></mat-spinner>
      </div>
      <span class="text smaller">powering on, please wait...</span>
  </ng-template>
  </div>

  <app-home *ngIf="cg?.poweredOn" [roomRef]="roomRef"></app-home>
</div>
