<div class="text">Select stations to share {{getSelectedInput()}} with</div>
<div class="row secondary-theme">
    <button mat-raised-button *ngFor="let g of cg?.displayGroups[0]?.shareInfo.options" class="share-button" [class.chosen]="chosenOptions.includes(g)" (click)="toggle(g)">{{g}}</button>
</div>

<div mat-dialog-actions class="items secondary-theme">
    <button mat-raised-button color="warn" (click)="cancel()" (press)="cancel()">
      Cancel
    </button>
    <!-- <activity-button 
    type="mat-raised-button" 
    color="primary" 
    spinnerColor="accent"
    [click]="startShare"
    [press]="startShare"
    (success)="ref.close()">Share</activity-button> -->
    <button mat-raised-button color="primary" (click)="startShare()" (press)="startShare()">Share</button>
  </div>
