<div class="row">
  <div class="audio-group mobile">
    <mat-divider></mat-divider>
    <div class="group-label">
      <span style="margin-left: 5px;">Media Audio</span>
    </div>
      <div class="audio-device">
        <span class="device-name">{{cg?.name}}</span>
        <volume-slider
          [audioID]=""
          [muted]="cg?.mediaAudio?.muted"
          [level]="cg?.mediaAudio?.level"
          [levelChange]="setVolume"
          [muteChange]="setMute"
          class="shorter"
        ></volume-slider>
      </div>
  </div>
  <div *ngFor="let ag of cg?.audioGroups" class="audio-group mobile">
    <mat-divider></mat-divider>
    <div class="group-label">
      <span style="margin-left: 5px;">{{ ag?.name }}</span>
      <button
        mat-button
        color="primary"
        (click)="muteAll(ag)"
        [disabled]="ag?.audioDevices?.length < 2"
      >
        <span *ngIf="ag?.audioDevices?.length > 1">{{
          ag?.muted ? "Unmute all" : "Mute all"
        }}</span>
        <span *ngIf="ag?.audioDevices?.length < 2"></span>
      </button>
    </div>
    <ng-container *ngFor="let ad of ag?.audioDevices">
      <div class="audio-device">
        <span class="device-name">{{ ad?.name }}</span>
        <volume-slider
          [audioID]="ad?.id"
          [muted]="ad?.muted"
          [level]="ad?.level"
          [levelChange]="setVolume"
          [muteChange]="setMute"
          class="shorter"
        ></volume-slider>
      </div>
    </ng-container>
  </div>
  <div class="audio-group desktop">
    <mat-divider></mat-divider>
    <div class="group-label">
      <span style="margin-left: 5px;">Media Audio</span>
    </div>
      <div class="audio-device">
        <span class="device-name">{{cg?.name}}</span>
        <volume-slider
          [audioID]=""
          [muted]="cg?.mediaAudio?.muted"
          [level]="cg?.mediaAudio?.level"
          [levelChange]="setVolume"
          [muteChange]="setMute"
          class="shorter"
        ></volume-slider>
      </div>
  </div>
  <div *ngFor="let ag of cg?.audioGroups" class="audio-group desktop">
    <mat-divider></mat-divider>
    <div class="group-label">
      <span style="margin-left: 5px;">{{ ag?.name }}</span>
      <button
        mat-button
        color="primary"
        (click)="muteAll(ag)"
        [disabled]="ag?.audioDevices?.length < 2"
      >
        <span *ngIf="ag?.audioDevices?.length > 1">{{
          ag?.muted ? "Unmute all" : "Mute all"
        }}</span>
        <span *ngIf="ag?.audioDevices?.length < 2"></span>
      </button>
    </div>
    <ng-container *ngFor="let ad of ag?.audioDevices">
      <div class="audio-device">
        <span class="device-name">{{ ad?.name }}</span>
        <volume-slider
          [audioID]="ad?.id"
          [muted]="ad?.muted"
          [level]="ad?.level"
          [levelChange]="setVolume"
          [muteChange]="setMute"
          class="shorter"
        ></volume-slider>
      </div>
    </ng-container>
  </div>
</div>
